<div class="cta-wrap">
    <div class="container-lf">
        <div class="inner">
            <div class="content">
                <h2>List Your Tool in Front of the <span>Right People</span>!</h2>
                <p>Discover tools, templates, and apps built to fuel your creativity and workflow. ToolTiger helps you
                    find
                    the right resource without wasting time.</p>
                <button class="button">
                    List Your Tool <img src="/assets/images/icons/redirect-w.svg" alt="Icon">
                </button>
            </div>
            <div class="img-wrap">
                <img src="/assets/images/cta-mockup.png" alt="Mockup">
            </div>
        </div>
    </div>
</div>