<div class="faqs-wrap section-space">
    <div class="container-sm">
        <div class="inner">
            <div class="mb-4 mb-md-5">
                <h2 class="text-center">Frequently asked questions</h2>
                <p class="text-center gray-color p-0 m-0">Discover tools, templates, and apps built to fuel your
                    creativity
                    and
                    workflow. <br class="d-none d-md-block"> ToolTiger helps you find the right resource without wasting
                    time.</p>
            </div>

            <div class="accordion" id="accordionFaq">
                <!-- FAQ 1 -->
                <div class="accordion-item">
                    <h4 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true"
                        aria-controls="faq1">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </h4>
                    <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore nemo sapiente nobis vel
                            veritatis eaque reiciendis? Pariatur quam minus cum?</p>
                    </div>
                </div>
                <!-- FAQ 2 -->
                <div class="accordion-item">
                    <h4 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false"
                        aria-controls="faq2">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </h4>
                    <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem veniam, nihil asperiores
                            adipisci placeat praesentium illo at exercitationem ullam maxime corporis iste laborum,
                            obcaecati voluptates dolor, quas earum error. Officia.</p>
                    </div>
                </div>
                <!-- FAQ 3 -->
                <div class="accordion-item">
                    <h4 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false"
                        aria-controls="faq3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </h4>
                    <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem veniam, nihil asperiores
                            adipisci placeat praesentium illo at exercitationem ullam maxime corporis iste laborum,
                            obcaecati voluptates dolor, quas earum error. Officia.</p>
                    </div>
                </div>
                <!-- FAQ 4 -->
                <div class="accordion-item">
                    <h4 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false"
                        aria-controls="faq4">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </h4>
                    <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem veniam, nihil asperiores
                            adipisci placeat praesentium illo at exercitationem ullam maxime corporis iste laborum,
                            obcaecati voluptates dolor, quas earum error. Officia.</p>
                    </div>
                </div>
                <!-- FAQ 5 -->
                <div class="accordion-item">
                    <h4 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false"
                        aria-controls="faq5">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </h4>
                    <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem veniam, nihil asperiores
                            adipisci placeat praesentium illo at exercitationem ullam maxime corporis iste laborum,
                            obcaecati voluptates dolor, quas earum error. Officia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>