<div class="partners-section section-space">
    <div class="container-sm">
        <div class="inner">
            <h3 class="text-center mb-4 mb-md-5">
                <img src="/assets/images/trophy-golden.png" alt="Trophy">
                Trusted by over 4,000 companies worldwide who rely
                on us to discover and list the best digital tools and software.
            </h3>
            <div class="partners-carousel owl-carousel owl-theme">
                <div class="item">
                    <img src="/assets/images/company-logos/company-logo1.png" alt="Logo">
                </div>
                <div class="item">
                    <img src="/assets/images/company-logos/company-logo2.png" alt="Logo">
                </div>
                <div class="item">
                    <img src="/assets/images/company-logos/company-logo3.png" alt="Logo">
                </div>
                <div class="item">
                    <img src="/assets/images/company-logos/company-logo4.png" alt="Logo">
                </div>
                <div class="item">
                    <img src="/assets/images/company-logos/company-logo5.png" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</div>