// =========================
// Global Styles
// =========================
@use "./variables" as var;

// =========================
// Container Styles
// =========================
.container {
  max-width: 1462px;
  padding: 0 1rem;
  margin: 0 auto;
}

.container-sm {
  max-width: 972px;
  padding: 0 1rem;
  margin: 0 auto;
}

.container-lf {
  padding-left: calc((100vw - 1462px)/2);

  @media (max-width:1462px) {
    padding: 0 1rem;
  }
}

.section-space {
  margin-bottom: 80px var.$i;

  @media (max-width:1140px) {
    margin-bottom: 60px var.$i;
  }

  @media (max-width:768px) {
    margin-bottom: 40px var.$i;
  }
}

.section-divider {
  width: 100%;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='1332' height='9' viewBox='0 0 1332 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.9707 8.59375H0.000976562L8.24512 0H12.2148L3.9707 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M14.8779 8.59375H10.9082L19.1523 0H23.1221L14.8779 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M25.785 8.59375H21.8153L30.0594 0H34.0291L25.785 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M36.6924 8.59375H32.7227L40.9668 0H44.9365L36.6924 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M47.5996 8.59375H43.6299L51.874 0H55.8438L47.5996 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M58.507 8.59375H54.5372L62.7814 0H66.7511L58.507 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M69.415 8.59375H65.4453L73.6895 0H77.6592L69.415 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M80.3223 8.59375H76.3526L84.5967 0H88.5664L80.3223 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M91.2285 8.59375H87.2588L95.5029 0H99.4727L91.2285 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M102.137 8.59375H98.1669L106.411 0H110.381L102.137 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M113.043 8.59375H109.073L117.317 0H121.287L113.043 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M123.951 8.59375H119.981L128.226 0H132.195L123.951 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M134.859 8.59375H130.889L139.133 0H143.103L134.859 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M145.766 8.59375H141.796L150.04 0H154.01L145.766 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M156.673 8.59375H152.703L160.947 0H164.917L156.673 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M167.579 8.59375H163.609L171.854 0H175.823L167.579 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M178.487 8.59375H174.517L182.762 0H186.731L178.487 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M189.394 8.59375H185.424L193.668 0H197.638L189.394 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M200.303 8.59375H196.333L204.577 0H208.547L200.303 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M211.209 8.59375H207.239L215.484 0H219.453L211.209 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M222.117 8.59375H218.147L226.392 0H230.361L222.117 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M233.023 8.59375H229.054L237.298 0H241.268L233.023 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M243.931 8.59375H239.961L248.205 0H252.175L243.931 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M254.838 8.59375H250.868L259.112 0H263.082L254.838 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M265.746 8.59375H261.776L270.021 0H273.991L265.746 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M276.653 8.59375H272.684L280.928 0H284.897L276.653 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M287.561 8.59375H283.591L291.835 0H295.806L287.561 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M298.468 8.59375H294.498L302.742 0H306.712L298.468 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M309.375 8.59375H305.405L313.649 0H317.619L309.375 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M320.281 8.59375H316.312L324.556 0H328.525L320.281 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M331.189 8.59375H327.22L335.464 0H339.433L331.189 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M342.097 8.59375H338.127L346.371 0H350.341L342.097 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M353.005 8.59375H349.035L357.279 0H361.249L353.005 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M363.911 8.59375H359.942L368.186 0H372.155L363.911 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M374.82 8.59375H370.851L379.095 0H383.065L374.82 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M385.726 8.59375H381.756L390 0H393.97L385.726 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M396.633 8.59375H392.663L400.907 0H404.877L396.633 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M407.541 8.59375H403.571L411.815 0H415.786L407.541 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M418.448 8.59375H414.479L422.723 0H426.692L418.448 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M429.355 8.59375H425.386L433.63 0H437.6L429.355 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M440.263 8.59375H436.293L444.537 0H448.507L440.263 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M451.17 8.59375H447.2L455.444 0H459.414L451.17 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M462.077 8.59375H458.107L466.352 0H470.322L462.077 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M472.984 8.59375H469.015L477.259 0H481.229L472.984 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M483.892 8.59375H479.923L488.167 0H492.138L483.892 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M494.799 8.59375H490.829L499.073 0H503.043L494.799 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M505.707 8.59375H501.737L509.981 0H513.952L505.707 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M516.613 8.59375H512.644L520.888 0H524.858L516.613 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M527.521 8.59375H523.551L531.795 0H535.765L527.521 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M538.429 8.59375H534.459L542.703 0H546.674L538.429 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M549.335 8.59375H545.365L553.609 0H557.58L549.335 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M560.243 8.59375H556.273L564.518 0H568.487L560.243 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M571.149 8.59375H567.18L575.424 0H579.394L571.149 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M582.058 8.59375H578.088L586.332 0H590.303L582.058 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M592.964 8.59375H588.994L597.238 0H601.208L592.964 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M603.873 8.59375H599.903L608.147 0H612.117L603.873 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M614.779 8.59375H610.81L619.054 0H623.023L614.779 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M625.687 8.59375H621.717L629.961 0H633.932L625.687 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M636.594 8.59375H632.624L640.868 0H644.839L636.594 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M647.501 8.59375H643.531L651.775 0H655.745L647.501 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M658.408 8.59375H654.438L662.683 0H666.652L658.408 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M669.316 8.59375H665.347L673.591 0H677.561L669.316 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M680.224 8.59375H676.254L684.498 0H688.468L680.224 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M691.131 8.59375H687.161L695.405 0H699.375L691.131 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M702.037 8.59375H698.067L706.312 0H710.282L702.037 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M712.945 8.59375H708.976L717.22 0H721.189L712.945 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M723.852 8.59375H719.882L728.126 0H732.096L723.852 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M734.761 8.59375H730.791L739.035 0H743.006L734.761 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M745.667 8.59375H741.697L749.942 0H753.912L745.667 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M756.576 8.59375H752.606L760.851 0H764.821L756.576 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M767.482 8.59375H763.512L771.756 0H775.726L767.482 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M778.39 8.59375H774.42L782.664 0H786.635L778.39 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M789.296 8.59375H785.326L793.57 0H797.541L789.296 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M800.204 8.59375H796.234L804.479 0H808.448L800.204 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M811.111 8.59375H807.142L815.386 0H819.356L811.111 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M822.019 8.59375H818.049L826.293 0H830.263L822.019 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M832.926 8.59375H828.956L837.2 0H841.17L832.926 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M843.833 8.59375H839.863L848.108 0H852.077L843.833 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M854.739 8.59375H850.77L859.014 0H862.983L854.739 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M865.648 8.59375H861.679L869.923 0H873.893L865.648 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M876.555 8.59375H872.585L880.829 0H884.799L876.555 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M887.462 8.59375H883.492L891.736 0H895.706L887.462 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M898.369 8.59375H894.4L902.644 0H906.614L898.369 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M909.276 8.59375H905.307L913.551 0H917.521L909.276 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M920.184 8.59375H916.214L924.458 0H928.428L920.184 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M931.092 8.59375H927.122L935.366 0H939.336L931.092 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M941.999 8.59375H938.029L946.273 0H950.243L941.999 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M952.905 8.59375H948.936L957.18 0H961.149L952.905 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M963.813 8.59375H959.844L968.088 0H972.057L963.813 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M974.72 8.59375H970.75L978.994 0H982.964L974.72 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M985.628 8.59375H981.658L989.902 0H993.873L985.628 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M996.535 8.59375H992.566L1000.81 0H1004.78L996.535 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1007.44 8.59375H1003.47L1011.72 0H1015.69L1007.44 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1018.35 8.59375H1014.38L1022.62 0H1026.59L1018.35 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1029.26 8.59375H1025.29L1033.53 0H1037.5L1029.26 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1040.16 8.59375H1036.19L1044.44 0H1048.41L1040.16 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1051.07 8.59375H1047.1L1055.35 0H1059.32L1051.07 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1061.98 8.59375H1058.01L1066.25 0H1070.22L1061.98 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1072.89 8.59375H1068.92L1077.16 0H1081.13L1072.89 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1083.79 8.59375H1079.82L1088.07 0H1092.04L1083.79 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1094.7 8.59375H1090.73L1098.98 0H1102.95L1094.7 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1105.61 8.59375H1101.64L1109.88 0H1113.85L1105.61 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1116.52 8.59375H1112.55L1120.79 0H1124.76L1116.52 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1127.42 8.59375H1123.45L1131.7 0H1135.67L1127.42 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1138.33 8.59375H1134.36L1142.61 0H1146.58L1138.33 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1149.24 8.59375H1145.27L1153.51 0H1157.48L1149.24 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1160.14 8.59375H1156.17L1164.42 0H1168.39L1160.14 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1171.05 8.59375H1167.08L1175.33 0H1179.3L1171.05 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1181.96 8.59375H1177.99L1186.23 0H1190.2L1181.96 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1192.87 8.59375H1188.9L1197.14 0H1201.11L1192.87 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1203.77 8.59375H1199.81L1208.05 0H1212.02L1203.77 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1214.68 8.59375H1210.71L1218.96 0H1222.93L1214.68 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1225.59 8.59375H1221.62L1229.86 0H1233.83L1225.59 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1236.5 8.59375H1232.53L1240.77 0H1244.74L1236.5 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1247.4 8.59375H1243.43L1251.68 0H1255.65L1247.4 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1258.31 8.59375H1254.34L1262.59 0H1266.56L1258.31 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1269.22 8.59375H1265.25L1273.49 0H1277.46L1269.22 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1280.13 8.59375H1276.16L1284.4 0H1288.37L1280.13 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1291.03 8.59375H1287.06L1295.31 0H1299.28L1291.03 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1301.94 8.59375H1297.97L1306.21 0H1310.18L1301.94 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1312.85 8.59375H1308.88L1317.12 0H1321.09L1312.85 8.59375Z' fill='%23E5E7EB'/%3E%3Cpath d='M1323.75 8.59375H1319.79L1328.03 0H1332L1323.75 8.59375Z' fill='%23E5E7EB'/%3E%3C/svg%3E%0A");
  background-repeat: repeat-x;
  max-width: 1462px;
  padding: 0 1rem;
  margin: 0 auto;
}

// =========================
// Breadcrumbs Style Start
// =========================

.breadcrumbs-wrap {
  width: 100%;
  padding: 15px 16px;
  background-color: #F9FAFB;
  border-top: 1px solid #F3F4F6;
  border-bottom: 1px solid #F3F4F6;
  margin-bottom: 50px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      color: #364153;

      a {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        color: #364153;
        margin: 0;
        padding: 0;

        &:hover {
          color: var.$primary-color;
        }
      }

      &::after {
        content: '';
        display: block;
        height: 16px;
        width: 16px;
        min-height: 16px;
        min-width: 16px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_29_2487)'%3E%3Cpath d='M6.5 4L10.5 8L6.5 12' stroke='%2399A1AF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_29_2487'%3E%3Crect width='16' height='16' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

// =========================
// Footer CTA
// =========================

.cta-wrap {
  background: linear-gradient(0deg, #FFF7ED 0%, #FFFFFF 100%);

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px 20px;
    padding-top: 10px;

    .content {
      flex: 1;

      h2 {
        font-size: clamp(1.75rem, 1.2277rem + 1.741vw, 2.75rem);
        line-height: clamp(2.375rem, 1.8527rem + 1.741vw, 3.375rem);
        font-weight: 600;
        max-width: 570px;
        width: 100%;

        span {
          font-size: inherit;
          line-height: inherit;
          font-weight: 600;
          color: var.$primary-color;
          display: inline;
        }

        @media (max-width:991px) {
          max-width: unset;
        }
      }

      p {
        font-size: clamp(1rem, 0.9347rem + 0.2176vw, 1.125rem);
        line-height: clamp(1.625rem, 1.5597rem + 0.2176vw, 1.75rem);
        max-width: 570px;
        width: 100%;
        color: var.$light-text;

        @media (max-width:991px) {
          max-width: unset;
        }
      }
    }

    .img-wrap {
      flex: 1.2;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom right;
      }
    }

    @media (max-width:991px) {
      flex-flow: column-reverse;
      padding: 20px 0;
    }
  }
}

// =========================
// Accordion Styles reset (Bootstrap)
// =========================
.accordion {
  .accordion-item {
    border: none;
    margin: 0;
    padding: 22px 0;
    border-bottom: 1px solid var.$border-color;
    display: flex;
    flex-flow: column;
    gap: 16px;

    .accordion-header {
      margin: 0;
      padding: 0;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      &::after {
        content: "";
        height: 28px;
        min-height: 28px;
        width: 28px;
        min-width: 28px;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_5153)'%3E%3Cpath d='M3.5 14C3.5 15.3789 3.77159 16.7443 4.29926 18.0182C4.82694 19.2921 5.60036 20.4496 6.57538 21.4246C7.55039 22.3996 8.70791 23.1731 9.98182 23.7007C11.2557 24.2284 12.6211 24.5 14 24.5C15.3789 24.5 16.7443 24.2284 18.0182 23.7007C19.2921 23.1731 20.4496 22.3996 21.4246 21.4246C22.3996 20.4496 23.1731 19.2921 23.7007 18.0182C24.2284 16.7443 24.5 15.3789 24.5 14C24.5 12.6211 24.2284 11.2557 23.7007 9.98182C23.1731 8.70791 22.3996 7.55039 21.4246 6.57538C20.4496 5.60036 19.2921 4.82694 18.0182 4.29927C16.7443 3.77159 15.3789 3.5 14 3.5C12.6211 3.5 11.2557 3.77159 9.98182 4.29927C8.70791 4.82694 7.55039 5.60036 6.57538 6.57538C5.60036 7.55039 4.82694 8.70791 4.29926 9.98182C3.77159 11.2557 3.5 12.6211 3.5 14Z' stroke='%236A7282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 14H17.5' stroke='%236A7282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5153'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.collapsed {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_5162)'%3E%3Cpath d='M3.5 14C3.5 15.3789 3.77159 16.7443 4.29926 18.0182C4.82694 19.2921 5.60036 20.4496 6.57538 21.4246C7.55039 22.3996 8.70791 23.1731 9.98182 23.7007C11.2557 24.2284 12.6211 24.5 14 24.5C15.3789 24.5 16.7443 24.2284 18.0182 23.7007C19.2921 23.1731 20.4496 22.3996 21.4246 21.4246C22.3996 20.4496 23.1731 19.2921 23.7007 18.0182C24.2284 16.7443 24.5 15.3789 24.5 14C24.5 11.2152 23.3938 8.54451 21.4246 6.57538C19.4555 4.60625 16.7848 3.5 14 3.5C11.2152 3.5 8.54451 4.60625 6.57538 6.57538C4.60625 8.54451 3.5 11.2152 3.5 14Z' stroke='%236A7282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 14H17.5' stroke='%236A7282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 10.5V17.5' stroke='%236A7282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5162'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
      }
    }

    p {
      margin: 0;
      padding: 0;
      color: var.$light-text;
    }
  }
}

// =========================
// Page Loader Styles
// =========================
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  img {
    height: 80px;
    width: 80px;
    animation: zoomPulse 1.5s ease-in-out infinite;
  }

  @keyframes zoomPulse {

    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }
}

// =========================
// Owl Carousel Styles
// =========================

.carousel-btn {
  height: 50px;
  width: 50px;
  border: 1px solid var.$border-color;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &.next {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_4984)'%3E%3Cpath d='M7 5.25L10.75 9L7 12.75' stroke='%236A7282' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_4984'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &.prev {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_4980)'%3E%3Cpath d='M10.75 5.25L7 9L10.75 12.75' stroke='%236A7282' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_4980'%3E%3Crect width='18' height='18' fill='white' transform='matrix(-1 0 0 1 18 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &:hover {
    background-color: var.$grey;
  }
}